%h1
  Listing <%= plural_table_name %>

%table
  %thead
    %tr
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      %th<%= attribute.human_name %>
<% end -%>
      %th
      %th
      %th

  %tbody
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %tr
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
        %td= link_to t('cap.show'), <%= singular_table_name %>
        %td= link_to t('cap.edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
        %td= link_to t('cap.destroy'), <%= singular_table_name %>, method: :delete, data: { confirm: t('msg.destroy_check') }

%br

= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path